.DS_Store
__pycache__/
World_12NM_v4_20231025_gpkg/
ne_10m_admin_0_countries/
node_modules
dist
build/bin/
data/GOGI_V10_2.gdb/
data/GOGI_V10_2SHP/
data/GOGI_V10_3.gdb/
data/GOGI_V10_3SHP/
data/GOGI_V10_3_1.gdb/
data/gogi_v10_3_1shp/
data/gogi-normalized-v1/
